[Desktop Entry]
Type=Application
Version=1.5
Name=ChibiTracker
GenericName=Music Tracker
Comment=Impulse Tracker clone
Icon=com.github.reduz.ChibiTracker
TryExec=chibitracker
Exec=chibitracker %f
MimeType=audio/x-mod;audio/x-s3m;audio/x-xm;audio/x-it;
Categories=AudioVideo;Audio;Sequencer;
Keywords=Impulse Tracker;
